.wrapper{
  color: black;
  width: 80%;
  height: auto;
}
body{
  background-color: white;
}
.yellow {
background-color: yellow;
}
.orange {
background-color: orange;
float: left;
width: auto;
}
.blue {
background-color: blue;
}
.red {
  background-color: red;
  float: right;
  width: auto;
  height: auto;
}
