body {
background-color: white;
}
.wrapper {
  background-color: white;
  color: black;
  width: 850px;
  padding: 1em 12em;
}
.page-title {
	text-align:center;
}
.yellow {
background-color: yellow;
text-align: center;
width: 500px;
margin-left:6em;

}

.orange {
background-color: orange;
float: left;
width: 420px;
color: white;
text-indent: 10px;
}
#space {
	width:10px;
	
}
.date {
	color: black;
	text-indent:2em;
}
.blue {
background-color: blue;
width: 420px;
float:left;
margin-top:20px;
color: white;
}

.red {
  background-color: red;
  float: right;
  width:420px;
  padding-left:5px;
  color: white;
}
#photo {
	float:left;
	width: 420px;
	margin-top:20px;
}
.white {
	color: white;
}
.darkYellow {
	margin-top:10px;
  background-color: #ffae42;
  float: right;
  width: 420px;
  color: white;
}

